PORT=3005
ANTHROPIC_API_KEY=your_anthropic_key
OPENAI_API_KEY=your_openai_key
GOOGLE_PLACES_KEY=
EMAIL_USER=your_email@domain.com
EMAIL_PASS=your_email_password
JWT_SECRET=your_jwt_secret_here
NODE_ENV=staging
GEMINI_API_KEY=your_gemini_key
ACCESS_TOKEN=your_access_token
VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key
